<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :finish %><br>
    <%= f.date_select :finish %>
  </div>
  <div class="field">
    <%= f.label :dep_person_id %><br>
    <%= f.text_field :dep_person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
