<p id="notice"><%= notice %></p>

<h1>Список договоров</h1>

<table>
  <thead>
    <tr>
      <th>Должность</th>
      <th>Ставка</th>
      <th>Бюджет/внебюджет</th>
      <th>Тип</th>
      <th>С</th>
      <th>По</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.post %></td>
        <td><%= contract.rate %></td>
        <td><%= contract.budget %></td>
        <td><%= contract.style %></td>
        <td><%= contract.start %></td>
        <td><%= contract.finish %></td>
        <td><%= link_to 'Показать', contract %></td>
        <td><%= link_to 'Редактировать', edit_contract_path(contract) %></td>
        <td><%= link_to 'Удалить', contract, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый договор', new_contract_path %>
