<%= form_for(@note_style) do |f| %>
  <% if @note_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note_style.errors.count, "error") %> prohibited this note_style from being saved:</h2>

      <ul>
      <% @note_style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :style %><br>
    <%= f.check_box :style %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
