<%= form_for(@dep_person) do |f| %>
  <% if @dep_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dep_person.errors.count, "error") %> prohibited this dep_person from being saved:</h2>

      <ul>
      <% @dep_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.text_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :contract_id %><br>
    <%= f.text_field :contract_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
